body{
   background-image: url(./images/background.jpg);
   background-repeat: no-repeat;
   background-size: cover;
}
#Name{
color: #8f0283;
margin-top: 5%;
}
#header{
    display: flex;
    gap: 10%;
    position: sticky;
    top: 0;
    overflow: hidden;
    background-color: rgba(212, 0, 255, 0.24);
}
#logo{
    display: flex;
    gap :30px
}
#logo_img{
    width: 15%;
}
#txtt{
    display: flex;
    padding: 35px 0px 0px 0px;
    height: 20px;
    gap : 2%
}
#txt{
    width: 100%;
    padding: 12px 20px;
    background-color: #f2f2f26e;
    box-sizing: border-box;
    border: 2px solid rgba(234, 0, 255, 0.699);
    border-radius: 4px;
}
#search{
    width: 38%;
    height: 138%;
    border-radius: 7%;
    background-color: #8e04aa28;
    border: none;
    color: rgb(0, 0, 0);
    font-size: 16px;
    cursor: pointer;
}
#search:hover{
background-color: rgb(234, 0, 255);
color: rgb(255, 255, 255);

}
#signup:hover{
    background-color:rgb(234, 0, 255);
    color: rgb(255, 255, 255);
    }

#signup{
    margin-top: 35px;
    margin-left: 70px;
    border-radius: 7%;
    float: right;
    height: 30px;
    width: 76px;
    background-color: #8e04aa28;
    border: none;
    color: rgb(0, 0, 0);
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
}

#images{
    width: 700px;
   margin:auto;
}
#img{

    width: 80%;  
    height: 80%;  
    margin-left:  10%;
}
.login-page {
  width: 360px;
  padding: 8% 0 0;
  margin: auto;
}
.form {
  animation-name: launch;
  animation-duration: 4s;
  position: relative;
  z-index: 1;
  background: hsl(0, 0%, 100%);
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.form input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}
.form button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: rgb(234, 0, 255);
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}
.form button:hover,.form button:active,.form button:focus {
  background: rgb(234, 0, 255);
}
.form .message {
  margin: 15px 0 0;
  color: #b3b3b3;
  font-size: 16px;
}
.form .message a {
  color: rgb(234, 0, 255);
  text-decoration: none;
}
.form .login-form {
  display: none;
}
.container {
  position: relative;
  z-index: 1;
  max-width: 300px;
  margin: 0 auto;
}
.container:before, .container:after {
  content: "";
  display: block;
  clear: both;
}
.container .info {
  margin: 50px auto;
  text-align: center;
}
.container .info h1 {
  margin: 0 0 15px;
  padding: 0;
  font-size: 36px;
  font-weight: 300;
  color: #1a1a1a;
}
.container .info span {
  color: #4d4d4d;
  font-size: 12px;
}
.container .info span a {
  color: #000000;
  text-decoration: none;
}
.container .info span .fa {
  color: rgb(234, 0, 255);
}

#create-username.error {
  color: red;
}

#create-password.error {
  color: red;
}

.form1 {
    animation-name: launch;
    animation-duration: 4s;
    z-index: 1;
    text-align: center;
    background: hsl(0, 0%, 100%);
    max-width: 360px;
    margin: 0 auto 100px;
    padding: 45px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  }
.postimg{
    width: 80%;
    height: 70%;
}
.tags{
  color:rgb(2, 167, 249)
}
.thecomment{
    text-align: left;
}
.Title{
    color:rgb(208, 2, 249)
}

.submitc{
    width: 20%;
    height: 150%;
    border-radius: 7%;
    background-color: #8e04aa69;
    border: none;
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
}
.buttoncomment{
width: 30%;
height: 60%;
border-radius: 7%;
background-color: #8e04aa69;
border: none;
color: rgb(0, 0, 0);
text-decoration: none;
font-size: 15px;
cursor: pointer;
}
.buttoncomment:hover{
    background-color:rgb(234, 0, 255);
    color: rgb(255, 255, 255);
    }
.submitc:hover{
    background-color:rgb(234, 0, 255);
    color: rgb(255, 255, 255);
    }